<!DOCTYPE html>
<html>
<head>
    <title>Forecasting Results</title>
</head>
<body>
    <h1>Forecasting Results</h1>
    <table>
        <thead>
            <tr>
                <th>Year</th>
                <th>Quarter</th>
                <th>Prediction</th>
            </tr>
        </thead>
        <tbody>
            {% for row in prediction_data %}
            <tr>
                <td>{{ row.Year }}</td>
                <td>{{ row.Quarter }}</td>
                <td>{{ row.Prediction }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2>Percentage Change:</h2>
    <ul>
{% for change in formatted_changes %}
  <p>{{ change }}</p>
{% endfor %}
<p>Average Percent Change: {{ average_percent_change }}%</p>
    </ul>
    

    
</body>
</html>


